---
import Layout from '../layouts/Layout.astro';
import GeneralSettings from '../components/app/pages/Settings.svelte';
import Header from '../components/app/lib/Header.svelte';
import { lucia } from '../lib/lucia';
import { DUMMY_SESSION } from '../lib/helpers';
import { getConfig } from '../lib/config';

let session = DUMMY_SESSION;

const CONFIG = await getConfig();

if (!import.meta.env.DEV) {
    if (!Astro.locals.user) return Astro.redirect('/login');
    if (Astro.locals.user.is_blocked) {
        await lucia.invalidateUserSessions(Astro.locals.user.id);
        return Astro.redirect('/login?blocked=true');
    }
    if (!Astro.locals.user.is_verified) {
        return Astro.redirect('/verify/email');
    }
    session = { ...Astro.locals.user };
}
---

<Layout title="Admin">
    <Header
        username={session.username}
        interactive={true}
        client:visible
    />
    <div transition:animate="fade" class="flex flex-1 justify-center">
        <GeneralSettings session={session} ac={Boolean(CONFIG.m0n1t0r.enable)} certMailer={Boolean(CONFIG.email.enable_certificate_mailing)} client:visible />
    </div>
</Layout>
